body {
  margin: 0 auto;
  width: 100vw;
  max-width: 1440px;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}

.hdr {
  font-weight: 600;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1219px;
  padding: 40px;
  margin: 0 70px 40px 72px;
}
.hdr .hdr__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 253px;
}
.hdr .hdr__left .services::after {
  margin: 0 auto;
  content: "";
  display: block;
  width: 75%;
  height: 2px;
  background-color: #B00000;
}
.hdr .hdr__nav .hdr__nav_link {
  margin-left: 33px;
}
.hdr .hdr__right {
  width: 100%;
  max-width: 291px;
}
.hdr .hdr__right .phone-icon {
  margin-left: 62px;
  color: #B00000;
  cursor: pointer;
}

main {
  margin: 0 auto;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1215px;
  position: relative;
}
.intro .intro__text_block .intro__nav_item {
  text-decoration: none;
  color: #000000;
  opacity: 0.3;
  margin-right: 20px;
}
.intro .intro__text_block .intro__nav_item:hover {
  color: #B00000;
  opacity: 1;
}
.intro .intro__text_block .intro__text {
  width: 100%;
  max-width: 610px;
}
.intro .intro__text_block .intro__text .intro__title {
  font-weight: 800;
  font-size: 64px;
  font-family: "Inter", sans-serif;
  line-height: 77px;
  margin: 26px auto 34px;
}
.intro .intro__text_block .intro__text .intro__main_text {
  font-weight: 400;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  width: 75%;
  opacity: 0.5;
  line-height: 28px;
}
.intro .intro__text_block .intro__btns {
  margin-top: 60px;
}
.intro .intro__text_block .intro__btns .btn {
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  max-width: 160px;
  margin-right: 24px;
  padding: 12px 13px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  display: inline-block;
}
.intro .intro__text_block .intro__btns .create__btn {
  background-color: #B00000;
  color: #fff;
  box-shadow: 0 0 64px rgba(176, 0, 0, 0.3);
  border: 1px solid #B00000;
}
.intro .intro__text_block .intro__btns .create__btn:hover {
  color: #B00000;
  letter-spacing: 0.9px;
  background-color: #fff;
  box-shadow: 0 5px 40px -10px rgba(176, 0, 0, 0.7);
}
.intro .intro__text_block .intro__btns .choose__btn {
  border: 1px solid #000000;
  background-color: #ffffff;
}
.intro .intro__text_block .intro__btns .choose__btn:hover {
  color: #ffffff;
  letter-spacing: 1.2px;
  background-color: #B00000;
  box-shadow: 0 5px 40px -10px rgba(176, 0, 0, 0.7);
}
.intro .intro__image {
  width: 100%;
  max-width: 552px;
  max-height: 504px;
}
.intro .intro__image .background_img {
  margin: 0 auto;
  text-align: center;
}
.intro .triangles {
  width: 100%;
  max-width: 552px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 0;
}
.intro .triangles .lft_triangle {
  width: 0;
  height: 0;
  border-bottom: 40px solid #B00000;
  border-right: 40px solid transparent;
  margin-top: 240px;
}
.intro .triangles .rght_triangle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
.intro .triangles .rght_triangle .top_triangle {
  width: 0;
  height: 0;
  border-bottom: 40px solid #B00000;
  border-left: 40px solid transparent;
  transition: all 0.3s linear;
}
.intro .triangles .rght_triangle .btm_triangle {
  width: 0;
  height: 0;
  border-bottom: 72px solid #B00000;
  border-left: 72px solid transparent;
  transition: all 0.2s linear;
}

.intro:hover .shape {
  animation: rotation 10s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.benefits {
  width: 1284px;
  margin: 80px 78px;
  display: flex;
  flex-wrap: wrap;
}
.benefits .benefits__top {
  display: flex;
  justify-content: space-between;
}
.benefits .benefits__text {
  width: 50%;
}
.benefits .benefits__text .title {
  font-weight: 800;
  font-size: 48px;
  font-family: "Inter", sans-serif;
}
.benefits .benefits__text p {
  font-weight: 400;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  line-height: 32px;
  opacity: 0.8;
  padding: 0 50px 50px 0;
}
.benefits .companies__logo {
  max-width: 580px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-evenly;
  flex-wrap: wrap;
}
.benefits .companies__logo .cmp_logo {
  width: 27%;
}
.benefits .benefits__btm {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 50px auto;
}
.benefits .benefits__btm .box {
  width: 20%;
  text-align: center;
}
.benefits .benefits__btm .box:nth-child(2) {
  flex-grow: 0.1;
}
.benefits .benefits__btm .box_logo:hover {
  transform: scale(1.1, 1.2);
  cursor: pointer;
}
.benefits .benefits__btm .box_title {
  font-weight: 700;
  font-size: 20px;
}
.benefits .benefits__btm p {
  font-weight: 400;
  font-size: 12px;
}

.pricing {
  margin: 0 auto;
  width: 100%;
  max-width: 1097px;
  text-align: center;
}
.pricing .title {
  font-weight: 600;
  font-size: 50px;
  margin: 0 auto;
  width: 60%;
  text-align: center;
}
.pricing .subtitle {
  font-weight: 400;
  font-size: 25px;
}
.pricing .term_option {
  padding: 20px;
}
.pricing .term_option .term {
  font-weight: 400;
  font-size: 25px;
}
.pricing .term_option > span {
  margin-right: 27px;
  text-align: center;
}
.pricing .term_option .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.pricing .term_option .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.pricing .term_option .switch .slider_round {
  position: absolute;
  cursor: pointer;
  top: -10px;
  left: 0;
  right: -10px;
  bottom: 10px;
  background-color: #B00000;
  border-radius: 34px;
  transition: 0.4s;
}
.pricing .term_option .switch .slider_round:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
.pricing .term_option .switch .slider_round input:checked + .slider_round {
  background-color: #B00000;
}
.pricing .term_option .switch .slider_round input:focus + .slider_round {
  box-shadow: 0 0 1px #B00000;
}
.pricing .term_option .switch .slider_round input:checked + .slider_round:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.pricing .term_option .discount {
  font-weight: 500;
  font-size: 10px;
  background-color: #FFE87A;
}
.pricing .package_type {
  font-weight: 600;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
}
.pricing .package_type .type_tag {
  width: 50%;
  margin: 20px auto;
  display: inline-block;
}

.type_tag::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: #C4C4C4;
  transition: width 1.5s;
}

.type_tag:hover::after {
  width: 100%;
  background: #B00000;
  transition: width 1s;
}

.packages {
  margin-top: 85px;
  display: flex;
  justify-content: space-between;
}
.packages .option_item {
  width: 27%;
  border: 2px solid #c4c4c4;
  border-radius: 20px;
  padding: 34px;
  text-align: start;
}
.packages .option_item .title {
  font-weight: 600;
  font-size: 28px;
}
.packages .option_item + p {
  font-weight: 400;
  font-size: 12px;
}
.packages .option_item .price {
  font-weight: 600;
  font-size: 42px;
}
.packages .option_item .per_month {
  font-weight: 300;
  font-size: 14px;
  margin: 0 auto;
}
.packages .option_item .price_btn {
  font-weight: 600;
  font-size: 14px;
  padding: 9px;
  margin: 44px auto;
  width: 100%;
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.packages .option_item .price_btn:hover {
  color: #fff;
  letter-spacing: 2px;
  background-color: #282626;
  box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.6);
}
.packages .option_item ul {
  padding-left: 0;
}
.packages .option_item li {
  font-weight: 600;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  line-height: 24px;
  margin-bottom: 15px;
  list-style-type: none;
  color: #808080;
}
.packages .option_item li::before {
  content: url("../img/checkmark.svg");
  margin-right: 24px;
}

/*# sourceMappingURL=stylesheet.css.map */
