/* Error: Undefined mixin.
 *   ,
 * 6 |     @include font_option(400, 14px);
 *   |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   elements\_buttons.scss 6:5  @import
 *   elements\elements.scss 1:9  @import
 *   stylesheet.scss 6:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 6 \2502      @include font_option(400, 14px);\d\a   \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   elements\\_buttons.scss 6:5  @import\a   elements\\elements.scss 1:9  @import\a   stylesheet.scss 6:9         root stylesheet";
}
