.CTA_btn, .price_btn, .btn {
  font-weight: 400;
  font-size: 14pxpx;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  display: inline-block;
}

.btn {
  max-width: 160px;
  margin-right: 24px;
  padding: 12px 13px;
}

.create__btn {
  background-color: #B00000;
  color: #fff;
  box-shadow: 0 0 64px rgba(176, 0, 0, 0.3);
  border: 1px solid #B00000;
}
.create__btn:hover {
  color: #B00000;
  letter-spacing: 0.9px;
  background-color: #fff;
  box-shadow: 0 5px 40px -10px rgba(176, 0, 0, 0.7);
}

.choose__btn {
  border: 1px solid #000000;
  background-color: #ffffff;
}
.choose__btn:hover {
  color: #ffffff;
  letter-spacing: 1.2px;
  background-color: #B00000;
  box-shadow: 0 5px 40px -10px rgba(176, 0, 0, 0.7);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider_round {
  position: absolute;
  cursor: pointer;
  top: -10px;
  left: 0;
  right: -10px;
  bottom: 10px;
  background-color: #B00000;
  border-radius: 34px;
  transition: 0.4s;
}
.switch .slider_round:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
.switch .slider_round input:checked + .slider_round {
  background-color: #B00000;
}
.switch .slider_round input:focus + .slider_round {
  box-shadow: 0 0 1px #B00000;
}
.switch .slider_round input:checked + .slider_round:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.price_btn {
  padding: 9px;
  margin: 44px auto;
  border: 2px solid #000000;
  background-color: #ffffff;
}
.price_btn:hover {
  color: #fff;
  letter-spacing: 2px;
  background-color: #282626;
  box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.6);
}

.CTA_btn {
  max-width: 208px;
  padding: 12px 16px;
  background-color: #B00000;
  color: #fff;
  box-shadow: 0 0 64px rgba(176, 0, 0, 0.3);
  border: 1px solid #B00000;
  text-align: center;
}
.CTA_btn:hover {
  color: #B00000;
  letter-spacing: 0.9px;
  background-color: #fff;
  box-shadow: 0 5px 40px -10px rgba(176, 0, 0, 0.7);
}

.phone-icon {
  margin-left: 62px;
  color: #B00000;
  cursor: pointer;
}

.whatsapp-icon {
  width: 40px;
  height: 40px;
  margin-right: 9px;
}

.CTA_small_triangle_left, .CTA_small_triangle_rght, .small_triangle_rght, .small_triangle_left {
  width: 0;
  height: 0;
  border-bottom: 40px solid #B00000;
}

.CTA_big_triangle_rght, .big_triangle_rght {
  width: 0;
  height: 0;
  border-bottom: 72px solid #B00000;
  border-left: 72px solid transparent;
}

.small_triangle_left {
  border-right: 40px solid transparent;
  margin-top: 240px;
}

.small_triangle_rght {
  border-left: 40px solid transparent;
  transition: all 0.3s linear;
}

.big_triangle_rght {
  transition: all 0.2s linear;
}

.CTA_small_triangle_rght {
  border-left: 40px solid transparent;
}

.CTA_small_triangle_left {
  border-right: 40px solid transparent;
  transition: all 0.3s linear;
}

.CTA_big_triangle_rght {
  transition: all 0.2s linear;
}

.companies__logo {
  max-width: 580px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-evenly;
  flex-wrap: wrap;
}
.companies__logo .cmp_logo {
  width: 27%;
}

.box_logo:hover {
  transform: scale(1.1, 1.2);
  cursor: pointer;
}

.tools__logos {
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}
.tools__logos img {
  margin-right: 10px;
}

body {
  margin: 0 auto;
  width: 100vw;
  max-width: 1440px;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}

main {
  margin: 0 auto;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1215px;
  position: relative;
}
.intro .intro__text-block .intro__nav_item {
  text-decoration: none;
  color: #000000;
  opacity: 0.3;
  margin-right: 20px;
}
.intro .intro__text-block .intro__nav_item:hover {
  color: #B00000;
  opacity: 1;
}
.intro .intro__text-block .intro__text {
  width: 100%;
  max-width: 610px;
}
.intro .intro__text-block .intro__text .intro__title {
  font-weight: 800;
  font-size: 64pxpx;
  font-family: "Inter", sans-serif;
  line-height: 77px;
  margin: 26px auto 34px;
}
.intro .intro__text-block .intro__text .intro__main_text {
  font-weight: 400;
  font-size: 16pxpx;
  font-family: "Inter", sans-serif;
  width: 75%;
  opacity: 0.5;
  line-height: 28px;
}
.intro .intro__text-block .intro__btns {
  margin-top: 60px;
}
.intro .intro__triangles {
  width: 100%;
  max-width: 552px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 0;
}
.intro .intro__triangles .triangles__rght_inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
.intro:hover .shape {
  animation: rotation 10s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.intro .intro__image {
  width: 100%;
  max-width: 552px;
  max-height: 504px;
}
.intro .intro__image .background_img {
  margin: 0 auto;
  text-align: center;
}

.benefits {
  width: 1284px;
  margin: 80px 78px;
  display: flex;
  flex-wrap: wrap;
}
.benefits .benefits__top {
  display: flex;
  justify-content: space-between;
}
.benefits .benefits__text {
  width: 50%;
}
.benefits .benefits__text .title {
  font-weight: 800;
  font-size: 48pxpx;
  font-family: "Inter", sans-serif;
}
.benefits .benefits__text p {
  font-weight: 400;
  font-size: 18pxpx;
  font-family: "Inter", sans-serif;
  line-height: 32px;
  opacity: 0.8;
  padding: 0 50px 50px 0;
}
.benefits .benefits__btm {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 50px auto;
}
.benefits .benefits__btm .box {
  width: 20%;
  text-align: center;
}
.benefits .benefits__btm .box:nth-child(2) {
  flex-grow: 0.1;
}
.benefits .benefits__btm .box_title {
  font-weight: 700;
  font-size: 20pxpx;
}
.benefits .benefits__btm p {
  font-weight: 400;
  font-size: 12pxpx;
}

.pricing {
  margin: 0 auto;
  width: 100%;
  max-width: 1097px;
  text-align: center;
}
.pricing .title {
  font-weight: 600;
  font-size: 50pxpx;
  margin: 0 auto;
  width: 60%;
  text-align: center;
}
.pricing .subtitle {
  font-weight: 400;
  font-size: 25pxpx;
}
.pricing .term_option {
  padding: 20px;
}
.pricing .term_option .term {
  font-weight: 400;
  font-size: 25pxpx;
}
.pricing .term_option > span {
  margin-right: 27px;
  text-align: center;
}
.pricing .term_option .discount {
  font-weight: 500;
  font-size: 10pxpx;
  background-color: #FFE87A;
}
.pricing .package_type {
  font-weight: 600;
  font-size: 30pxpx;
  display: flex;
  justify-content: space-around;
}
.pricing .package_type .type_tag {
  width: 50%;
  margin: 20px auto;
  display: inline-block;
}

.type_tag::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: #C4C4C4;
  transition: width 1.5s;
}

.type_tag:hover::after {
  width: 100%;
  background: #B00000;
  transition: width 1s;
}

.packages {
  margin-top: 85px;
  display: flex;
  justify-content: space-between;
}
.packages .option_item {
  width: 27%;
  border: 2px solid #c4c4c4;
  border-radius: 20px;
  padding: 34px;
  text-align: start;
}
.packages .option_item .title {
  font-weight: 600;
  font-size: 28pxpx;
}
.packages .option_item + p {
  font-weight: 400;
  font-size: 12pxpx;
}
.packages .option_item .price {
  font-weight: 600;
  font-size: 42pxpx;
}
.packages .option_item .per_month {
  font-weight: 300;
  font-size: 14pxpx;
  margin: 0 auto;
}
.packages .option_item ul {
  padding-left: 0;
}
.packages .option_item li {
  font-weight: 600;
  font-size: 16pxpx;
  font-family: "Inter", sans-serif;
  line-height: 24px;
  margin-bottom: 15px;
  list-style-type: none;
  color: #808080;
}
.packages .option_item li::before {
  content: url("../../img/checkmark.svg");
  margin-right: 24px;
}

.reviews {
  margin: 105px auto;
  font-family: "Inter", sans-serif;
  width: 100%;
  max-width: 1015px;
  display: flex;
  justify-content: center;
}
.reviews .review {
  width: auto;
  box-shadow: 0 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
  line-height: 32px;
  overflow: auto;
}
.reviews .lft__block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.reviews .lft__block h5 {
  font-weight: 700;
  font-size: 18pxpx;
}
.reviews .lft__block .subtitle {
  font-weight: 500;
  font-size: 14pxpx;
  opacity: 0.6;
}
.reviews .lft__block .title {
  position: relative;
  max-width: 540px;
}
.reviews .lft__block .title img {
  position: absolute;
  top: 0;
  left: 0;
}
.reviews .lft__block .title h2, .reviews .lft__block .title p {
  padding-left: 95px;
}
.reviews .lft__block .title h2 {
  font-weight: 800;
  font-size: 48pxpx;
}
.reviews .lft__block .title p {
  font-weight: 400;
  font-size: 18pxpx;
}
.reviews .lft__block .first_review {
  max-width: 350px;
  padding: 6px 32px 96px 64px;
  margin-top: 24px;
}
.reviews .rght__block .second_review {
  max-width: 445px;
  padding: 39px 32px 14px;
}
.reviews .rght__block .third_review {
  max-width: 350px;
  padding: 41px 32px 32px;
}

.tools {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  max-width: 1194px;
}
.tools .tools__text {
  max-width: 445px;
}
.tools .tools__text h2 {
  font-weight: 800;
  font-size: 48pxpx;
}
.tools .tools__text p {
  font-weight: 400;
  font-size: 18pxpx;
}

.CTA {
  width: 100%;
  max-width: 1272px;
  text-align: center;
  position: relative;
  margin: 110px auto;
}
.CTA .CTA__text {
  margin: 0 auto;
  width: 100%;
  max-width: 1232px;
  padding: 80px 90px;
  background-color: #F7FAFE;
}
.CTA .CTA__text .CTA__title {
  font-weight: 600;
  font-size: 64pxpx;
}
.CTA .triangles__top_inner {
  width: 100%;
  max-width: 474px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: end;
}
.CTA .triangles__btm_inner {
  width: 100%;
  max-width: 1272px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.CTA:hover .shape {
  animation: rotation 10s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.hdr {
  font-weight: 600;
  font-size: 15pxpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1219px;
  padding: 40px;
  margin: 0 70px 40px 72px;
}
.hdr .hdr__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 253px;
}
.hdr .hdr__left .services::after {
  margin: 0 auto;
  content: "";
  display: block;
  width: 75%;
  height: 2px;
  background-color: #B00000;
}
.hdr .hdr__nav .hdr__nav_link {
  margin-left: 33px;
}
.hdr .hdr__right {
  width: 100%;
  max-width: 291px;
}

/*# sourceMappingURL=stylesheet.css.map */
