.hdr {
  @include font_option(600, 15px);
  @include flex-space-between;
  width: 100%;
  max-width: 1219px;
  padding: 40px;
  margin: 0 70px 40px 72px;

  .hdr__left {
    @include flex-space-between;
    width: 100%;
    max-width: 253px;

    .services::after {
      @include margin_ctr;
      content: "";
      display: block;
      width: 75%;
      height: 2px;
      background-color: $red;
    }
  }

  .hdr__nav {
    .hdr__nav_link {
      margin-left: 33px;
    }
  }

  .hdr__right {
    width: 100%;
    max-width: 291px;
  }
}