@mixin font_option ($fw,$fs) {
  font-weight: $fw;
  font-size: $fs;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin margin_ctr {
  margin: 0 auto;
}

body {
  @include margin_ctr;
  width: 100vw;
  max-width: $maxWidth;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $black;
}

main {
  margin: 0 auto;
}

//intro section
.intro {
  @include flex-space-between;
  @include margin_ctr;
  max-width: 1215px;
  position: relative;

  .intro__text_block {
    .intro__nav_item {
      text-decoration: none;
      color: $black;
      opacity: 0.3;
      margin-right: 20px;

      &:hover {
        color: $red;
        opacity: 1;
      }
    }

    .intro__text {
      width: 100%;
      max-width: 610px;

      .intro__title {
        @include font_option(800, 64px);
        font-family: "Inter", sans-serif;
        line-height: 77px;
        margin: 26px auto 34px;
      }

      .intro__main_text {
        @include font_option(400, 16px);
        font-family: "Inter", sans-serif;
        width: 75%;
        opacity: 0.5;
        line-height: 28px;
      }
    }
  }

  .intro__image {
    width: 100%;
    max-width: 552px;
    max-height: 504px;

    .background_img {
      @include margin_ctr;
      text-align: center;
    }
  }
}

.intro:hover .shape  {
  animation: rotation 10s infinite linear;

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}
//the end of intro section

//benefits section
.benefits {
  width: 1284px;
  margin: 80px 78px;
  display: flex;
  flex-wrap: wrap;

  .benefits__top {
    display: flex;
    justify-content: space-between;
  }

  .benefits__text {
    width: 50%;

    .title {
      @include font_option(800, 48px);
      font-family: "Inter", sans-serif;
    }

    p {
      @include font_option(400, 18px);
      font-family: "Inter", sans-serif;
      line-height: 32px;
      opacity: 0.8;
      padding: 0 50px 50px 0;
    }
  }

  .benefits__btm {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 50px auto;

    .box {
      width: 20%;
      text-align: center;

      &:nth-child(2) {
        flex-grow: .1;
      }
    }

    .box_title {
      @include font_option(700, 20px);
    }

    p {
      @include font_option(400, 12px)
    }
  }
}
//the end of benefits section

//Pricing section
.pricing {
  @include margin_ctr;
  width: 100%;
  max-width: 1097px;
  text-align: center;

  .title {
    @include font_option(600, 50px);
    @include margin_ctr;
    width: 60%;
    text-align: center;
  }

  .subtitle {
    @include font_option(400, 25px);
  }

  .term_option {
    padding: 20px;

    .term {
      @include font_option(400, 25px)
    }

    >span {
      margin-right: 27px;
      text-align: center;
    }

    .discount {
      @include font_option(500, 10px);
      background-color: #FFE87A;
    }
  }

  .package_type {
    @include font_option(600, 30px);
    display: flex;
    justify-content: space-around;

    .type_tag {
      width: 50%;
      margin: 20px auto;
      display: inline-block;
    }
  }
}
.type_tag::after {
  content: '';
  display: block;
  width: 0;
  height: 4px;
  background: #C4C4C4;
  transition: width 1.5s;
}

.type_tag:hover::after {
  width: 100%;
  background: $red;
  transition: width 1s;
}

.packages {
  margin-top: 85px;
  display: flex;
  justify-content: space-between;

  .option_item {
    width: 27%;
    border: 2px solid #c4c4c4;
    border-radius: 20px;
    padding: 34px;
    text-align: start;

    .title {
      @include font_option(600, 28px)
    }

    +p {
      @include font_option(400, 12px)
    }

    .price {
      @include font_option(600, 42px)
    }

    .per_month {
      @include font_option(300, 14px);
      margin: 0 auto;
    }

    ul {
      padding-left: 0;
    }

    li {
      @include font_option(600, 16px);
      font-family: "Inter", sans-serif;
      line-height: 24px;
      margin-bottom: 15px;
      list-style-type: none;
      color: #808080;


      &::before {
        content: url("../../img/checkmark.svg");
        margin-right: 24px;
      }
    }
  }
}
//the end of pricing section

//reviews section
.reviews {
  margin: 105px auto;
  font-family: "Inter", sans-serif;
  width: 100%;
  max-width: 1015px;
  display: flex;
  justify-content: center;

  .review {
    width: auto;
    box-shadow: 0 10px 20px rgba(41, 41, 42, 0.07);
    border-radius: 8px;
    line-height: 32px;
    overflow: auto;
  }

  .lft__block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    h5 {
      @include font_option(700, 18px);
    }

    .subtitle {
      @include font_option(500, 14px);
      opacity: 0.6;
    }


    .title {
      position: relative;
      max-width: 540px;

      img {
        position: absolute;
        top: 0;
        left: 0;
      }

      h2, p {
        padding-left: 95px;
      }

      h2 {
        @include font_option(800, 48px);
      }

      p {
        @include font_option(400, 18px);
      }
    }

    .first_review {
      max-width: 350px;
      padding: 6px 32px 96px 64px;
      margin-top: 24px;
    }
  }

  .rght__block {

    .second_review {
      max-width: 445px;
      padding: 39px 32px 14px;
    }

    .third_review {
      max-width: 350px;
      padding: 41px 32px 32px;
    }
  }
}
//the end of reviews section

//tools section
.tools {
  @include margin_ctr;
  @include flex-space-between;
  font-family: "Inter", sans-serif;
  max-width: 1194px;

  .tools__text {
    max-width: 445px;

    h2 {
      @include font_option(800, 48px);
    }

    p {
      @include font_option(400, 18px);
    }
  }
}
//the end of tools section