
%button {
  @include font_option(400, 14px);
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  display: inline-block;
}

//intro section
.btn {
    @extend %button;
    max-width: 160px;
    margin-right: 24px;
    padding: 12px 13px;
  }

.create__btn {
    background-color: $red;
    color: #fff;
    box-shadow: 0 0 64px rgba(176, 0, 0, 0.3);
    border: 1px solid $red;

    &:hover {
      color: $red;
      letter-spacing: 0.9px;
      background-color: #fff;
      box-shadow: 0 5px 40px -10px rgba(176, 0, 0, 0.7);
    }
  }

.choose__btn {
    border: 1px solid #000000;
    background-color: #ffffff;

    &:hover {
      color: #ffffff;
      letter-spacing: 1.2px;
      background-color: $red;
      box-shadow: 0 5px 40px -10px rgba(176, 0, 0, 0.7);
    }
  }
//the end of intro section


//Pricing section
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider_round {
    position: absolute;
    cursor: pointer;
    top: -10px;
    left: 0;
    right: -10px;
    bottom: 10px;
    background-color: $red;
    border-radius: 34px;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }

    input:checked + .slider_round {
      background-color: $red;
    }

    input:focus + .slider_round {
      box-shadow: 0 0 1px $red;
    }

    input:checked + .slider_round:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }
}

.price_btn {
  @extend %button;
  padding: 9px;
  margin: 44px auto;
  border: 2px solid $black;
  background-color: #ffffff;

  &:hover {
    color: #fff;
    letter-spacing: 2px;
    background-color: #282626;
    box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.6);
  }
}
//the end of pricing section

//CTA section
.CTA_btn {
  @extend %button;
  max-width: 208px;
  padding: 12px 16px;
  background-color: $red;
  color: #fff;
  box-shadow: 0 0 64px rgba(176, 0, 0, 0.3);
  border: 1px solid $red;
  text-align: center;

  &:hover {
    color: $red;
    letter-spacing: 0.9px;
    background-color: #fff;
    box-shadow: 0 5px 40px -10px rgba(176, 0, 0, 0.7);
  }
}
//the end of CTA section