//header
.phone-icon {
  margin-left: 62px;
  color: $red;
  cursor: pointer;
}
//the end of header

//CTA section
.whatsapp-icon {
  width: 40px;
  height: 40px;
  margin-right: 9px;
}
//the end of CTA section
