%small_triangle {
  width: 0;
  height: 0;
  border-bottom: 40px solid $red;
}

%big_triangle {
  width: 0;
  height: 0;
  border-bottom: 72px solid $red;
  border-left: 72px solid transparent;
}

//intro section
.small_triangle_left {
  @extend %small_triangle;
  border-right: 40px solid transparent;
  margin-top: 240px;
}

.small_triangle_rght {
  @extend %small_triangle;
  border-left: 40px solid transparent;
  transition: all 0.3s linear;
}

.big_triangle_rght {
  @extend %big_triangle;
  transition: all 0.2s linear;
}
//the end of intro section


//CTA section
.CTA_small_triangle_rght {
  @extend %small_triangle;
  border-left: 40px solid transparent;
}

.CTA_small_triangle_left {
  @extend %small_triangle;
  border-right: 40px solid transparent;
  transition: all 0.3s linear;
}

.CTA_big_triangle_rght {
  @extend %big_triangle;
  transition: all 0.2s linear;
}
//the end of CTA section