//intro section
.triangles {
  width: 100%;
  max-width: 552px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 0;

  .lft_triangle {
    width: 0;
    height: 0;
    border-bottom: 40px solid $red;
    border-right: 40px solid transparent;
    margin-top: 240px;
  }

  .rght_triangle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;

    .top_triangle {
      width: 0;
      height: 0;
      border-bottom: 40px solid $red;
      border-left: 40px solid transparent;
      transition: all 0.3s linear;
    }

    .btm_triangle {
      width: 0;
      height: 0;
      border-bottom: 72px solid $red;
      border-left: 72px solid transparent;
      transition: all 0.2s linear;
    }
  }
}
//the end of intro section